:root {
  --font-family: "Inter", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

.title {
  color: var(--gray-5);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 24px;
}

.input-label {
  color: var(--gray-5);
  font-size: 12px;
  line-height: 16px;
}
.input-field {
  font-family: var(--font-family);
  color: var(--gray-5);
  font-size: 12px;
  line-height: 16px;
}
.error-message {
  font-family: var(--font-family);
  color: var(--color-error);
  font-size: 12px;
  line-height: 14px;
}
