:root {
  --window-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  --window-border-radius: 8px;
}

.window {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.window__wrapper {
  min-width: 380px;
  box-shadow: var(--window-shadow);
  border-radius: var(--widnow-border-darius);
}

.window__title {
  padding: 32px 32px 36px;
}

.window__content {
  padding: 0 32px;
}

.window__footer {
  padding: 36px 32px 32px;
}
