.account-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 40px;
}

.account-page__main {
  grid-column: 2;
}

.account-page__navigation {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.account-page__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
