.chat-message-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-message-item__container {
  background-color: var(--gray-1);
  padding: 8px;
  border-radius: 8px;
  max-width: 380px;
}

.chat-message-item__time {
  margin-top: 4px;
}
