.change-password-page {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--page-indents);
}

.change-password-page__main {
  width: 316px;
}

.change-password-page__title {
  padding-bottom: 24px;
}

.change-password-page__actions {
  padding-top: 24px;
}
